// Our custom variables
$back-color: #000;
$black-off-color: #2E2E2E;
$red-fusion-color: #FF5F5D;
$gray-granite-color: #6B6863;
$gray-grayish-orange-color: #BFB8B0;
$white-off-light-grayish-color: #DBD7D2;
$white-off-color: #F4F1EB;
$white-color: #FFF;

// Small mobile view
$screen-mobile-min-360: 360px;
$screen-mobile-min-400: 400px;
$screen-mobile-min: 480px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-min-767: 767px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
